
daedalus-creation/.vs/daedalus-creation/v16/Server/sqlite3/db.lock
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
daedalus-creation/.vs/daedalus-creation/v16/.suo
daedalus-creation/.vs/daedalus-creation/v16/Server/sqlite3/storage.ide
daedalus-creation/.vs/daedalus-creation/v16/Server/sqlite3/storage.ide-shm
daedalus-creation/.vs/daedalus-creation/v16/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
daedalus-creation/.vs/daedalus-creation/v16/.suo
daedalus-creation/.vs/daedalus-creation/v16/Server/sqlite3/storage.ide
daedalus-creation/.vs/daedalus-creation/v16/Server/sqlite3/storage.ide-shm
daedalus-creation/.vs/daedalus-creation/v16/Server/sqlite3/storage.ide-wal
*.sqlite
